* {
    background-color: indianred;
}

.header {
    text-align: center;
}

img {
    display: block;
    left: auto;
    right: auto;
    width: 600px;
    height: auto;
    border-width: 40px;
    border-color: black;
}

.ImageBorder {
    border-width: 30px;
    border-color: green;
    border-style: solid;
}